<h2>Create Recipe</h2>

<form action="/create_recipe" method="post">
  <label for="title">Enter a name for the recipe:</label>
  <input type="text" name="title" >
  <button type="submit" name="create_recipe">Create Recipe</button>
</form>
