<h2>Create Tag</h2>

<form action="/create_tag" method="post">
  <label for="title">Enter a name for the tag:</label>
  <input type="text" name="title" >
  <button type="submit" name="create_tag">Create Tag</button>
</form>
