<h2>Recipes</h2>
<div class="row">
  <table class="col-md-6">
    <tr>

      <td>Recipe</td>
      <td>Rating</td>
      <td>Edit</td>
    </tr>
    <% @recipes.each do |recipe| %>

      <tr>
        <td><a href="/recipes/<%= recipe.id %>"><%= recipe.title %></a></td>
        <td><%= recipe.rating %></td>
        <td><a href="/edit_recipe/<%= recipe.id %>"><button type="button" name="edit">Edit</button></a></td>
      </tr>
    <% end %>
  </table>
</div>
